

button {background-color: black;
color: white;} 

body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    font-family: Mulish;
}

ul {
    list-style-type: none;
}

header {
    font-family: Mulish;
}

.bg-img {
    background-image: url("images/disc-golf.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-head {
    position: absolute;
    margin: 20px;
    width: auto;
    left: 50%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

  .topnav a {
    position: relative;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

/*here is the style for the main page*/
.container1 {
    width: auto;
    height: 300px;
    margin-top: 90px;
    display: flex;
    padding: 3em;
}

.container1 h1 {
    display: inherit;
    text-align: left;
    margin-left: 3.7em;
}

.container1 p {
    display: inherit;
    float: left;
    margin-left: 6em;
    margin-right: 12em;
    padding-top: 1em;
    text-align: left;
    font-size: 15pt;
}

.container1 img {
    width: 50%;
    height: auto;
    float: right;
    margin-right: 10em;
}

.container2 {
    margin: 0;
    width: 100%;
    height: 400px;
    margin-top: 80px;
}

.container2 h1 {
    font-size: 28pt;
}

.img-list2 {
    background-color: #D9D9D9;
}

.img-list2 ul {
    width: auto;
    display: inline-flex;
    align-items: center;
}

.img-list2 img {
    margin: 0;
    width: 360px;
    height: 200px;
    padding-inline: 60px;
}

.img-list2 ul h3 {
    margin: 0;
    display: inline-flex;
    padding-inline: 155px;
    vertical-align: top;
}

.container3 {
    margin: 0;
    width: 100%;
    height: 400px;
}

.container3 h1 {
    font-size: 28pt;
}

.container3 ul {
    width: auto;
    display: inline-flexbox;
}

.img-list3 img {
    margin: 0;
    width: 240px;
    height: auto;
    padding-inline: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container4 {
    width: auto;
    margin: 0;
}

.container4 h1 {
    font-size: 28pt;
}

/*Here is the style for "Folfvellir"*/
.container-text .sidenav {
    width: 250px;
    height: 600px;
    position: sticky;
    float: left;
    z-index: 1;
    top: 50px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
.sidenav a:hover {
    color: #064579;
  }

.sidenav ul {
    list-style-type: none;
    text-align: left;
}

.sidenav ul a {
    text-decoration: none;
    color: black;
    padding: 6px 8px 18px 6px;
    font-size: 25px;
    display: block;
}

.container-text h1 {
    font-size: 38pt;
    top: 0;
}

.container-text {
    width: 100%;
    position: relative;
}

.container-text img {
    width: 50%;
    height: auto;
    display: flex;
    float: right;
}

.container-text p {
    font-size: 18pt;
    padding: 1.5em;
    text-align: left;
    margin-left: 250px;
}

/*Höfuðborgarsvæði page*/
.hofudb-content {
    display: inline-table;
}
