body {
    margin: 0;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

ul {
    list-style-type: none;
}

.bg-img {
    background-image: url("images/disc-golf.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-head {
    position: absolute;
    margin: 20px;
    width: auto;
    left: 50%;
}

/*top navigation bar*/
.topnav {
    overflow: hidden;
    background-color: #cacaca;
    border-radius: 20px;
}

  .topnav a {
    position: relative;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease;
}

.topnav a:hover {
    background-color: #49bfc6;
    color: black;
  }

/*here is the style for the main page*/
.container1 {
    width: auto;
    height: 300px;
    margin-top: 90px;
    display: flex;
    padding: 3em;
}

.container1 h1 {
    display: inherit;
    text-align: left;
    margin-left: 3.7em;
    color: #333;
}

.container1 p {
    display: inherit;
    float: left;
    margin-left: 6em;
    margin-right: 12em;
    padding-top: 1em;
    text-align: left;
    font-size: 15pt;
}

.container1 img {
    width: 50%;
    height: auto;
    float: right;
    margin-right: 10em;
}

.container2 {
    margin: 0;
    width: 100%;
    height: 400px;
    margin-top: 80px;
}

.container2 h1 {
    font-size: 28pt;
    color: #333;
}

.img-list2 {
    background-color: #cacaca;
}

.img-list2 ul {
    width: auto;
    display: inline-flex;
    align-items: center;
}

.img-list2 img {
    margin: 0;
    width: 360px;
    height: 200px;
    padding-inline: 60px;
}

.img-list2 ul h3 {
    margin: 0;
    display: inline-flex;
    padding-inline: 155px;
    vertical-align: top;
}

.container3 {
    margin: 0;
    width: 100%;
    height: 400px;
}

.container3 h1 {
    font-size: 28pt;
    color: #333;
}

.container3 ul {
    width: auto;
    display: inline-flexbox;
}

.img-list3 img {
    margin: 0;
    width: 240px;
    height: auto;
    padding-inline: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container4 {
    width: auto;
    margin: 0;
}

.container4 h1 {
    font-size: 28pt;
    color: #333;
}

/*footer*/

footer {
    height: 300px;
    width: auto;
    margin: 0;
    background-color: #cacaca;
}

.logos {
    padding-top: 4em;
}

.logos img {
    padding-inline: 1em;
}

.logos img:hover {
    width: 2.5%;
}

.footer-list {
    position: relative;
    padding-top: 1em;
}

.footer-list h5 {
    font-size: 14pt;
}

.footer-list a {
    text-decoration: none;
    color: #333;
    font-size: 14pt;
}

.footer-list a:hover {
    color: #49bfc6;
}

/*Here is the style for "Folfvellir"*/

/*side navigation bar*/
.container-text .sidenav {
    width: 260px;
    height: 430px;
    position: sticky;
    float: left;
    z-index: 1;
    top: 50px;
    background: #cacaca;
    overflow-x: hidden;
    border-radius: 20px;
  }
  
.sidenav a:hover {
    color: #49bfc6;
    transition: all 0.3s ease;
  }

.sidenav ul {
    list-style-type: none;
    text-align: left;
    padding-top: 3em;
    margin: 0;
}

.sidenav ul a {
    text-decoration: none;
    color: black;
    padding: 6px 8px 18px 6px;
    font-size: 20px;
    display: block;
}

.container-text h1 {
    font-size: 38pt;
    padding-top: 50px;
    text-align: left;
    margin-left: 325px;
}

.container-text {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 700px;
    position: relative;
}

.container-text img {
    width: 45%;
    height: auto;
    display: flex;
    float: right;
    padding-top: 2em;
}

.container-text p {
    font-size: 18pt;
    text-align: left;
    margin-left: 325px;
    padding-top: 70px;
}

/*Höfuðborgarsvæði page*/
.hofudb-content {
    display: inline-table;
    text-align: center;
}


