

img{
    width: 100%;
    height: auto;
}

button {background-color: black;
color: white;} 

body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    font-family: Mulish;
}

/*Here is the style for "Folfvellir"*/
.container-text .sidenav {
    width: 250px;
    height: 600px;
    position: sticky;
    float: left;
    z-index: 1;
    top: 50px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    border: 3px solid #73AD21;
  }
  
.sidenav a:hover {
    color: #064579;
  }

.sidenav ul {
    list-style-type: none;
    text-align: left;
}

.sidenav ul a {
    text-decoration: none;
    color: black;
    padding: 6px 8px 18px 6px;
    font-size: 25px;
    display: block;
}


.container-text h1 {
    font-size: 38pt;
    top: 0;
    border: 3px solid #73AD21;
}

.container-text {
    width: 100%;
    position: relative;
    border: 3px solid #73AD21;
}

.container-text img {
    width: 50%;
    height: auto;
    display: flex;
    float: right;
}

.container-text p {
    font-size: 18pt;
    padding: 1.5em;
    text-align: left;
    margin-left: 250px;
    border: 3px solid #73AD21;
}

/*here is the style for the main page*/

